<div class="col-lg-12 adasd">
    <div class="courses-bar">
        <div class="row">

            <div class="col-lg-7">
                <h2 class="title">Seleciona Categoria</h2>
            </div>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">

            
        <div class="tab-pane fade show active" id="grid" role="tabpanel">
            <div class="courses-wrapper wrapper-2">
                <div class="row grid">


                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <button (click)="enviarauxiliar()" ><img  src="../../../assets/img/archive.jpg" alt="courses"></button>
                            </div>
                            <div class="courses-content">
                                <a href="#" class="category">#Categoria</a>
                                <h4 class="courses-title"><a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Auxiliar</a></h4>
                                
                                
                                
                                
                                
                           
                               
                            </div>
                        </div>
                    </div>











                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a (click)="enviarasociado()" ><img  src="../../../assets/img/archive.jpg" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="#" class="category">#Categoria</a>
                                <h4 class="courses-title"><a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Asociado</a></h4>
                                
                                
                                
                                
                                
                            
                               
                            </div>
                        </div>
                    </div>



















                    <div class="col-lg-4 col-sm-6 courses-col">
                        <div class="single-courses-2 mt-30">
                            <div class="courses-image">
                                <a (click)="enviarprincipal()" ><img  src="../../../assets/img/archive.jpg" alt="courses"></a>
                            </div>
                            <div class="courses-content">
                                <a href="#" class="category">#Categoria</a>
                                <h4 class="courses-title"><a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Principal</a></h4>
                                
                                
                                
                                
                                
                              <!-- 
                                    
                                <div class="duration-rating">
                                    <div class="duration-fee">
                                        <p class="duration">Duration: <span> 4 year</span></p>
                                        <p class="fee">Fee: <span> $540</span></p>
                                    </div>
                                    <div class="rating">
                                        <span>Rating: </span>
                                        <ul class="star">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                              -->
                               
                            </div>
                        </div>
                    </div>
                    






                </div>
            </div>
        </div>
        

     

    </div>

    <ul class="pagination-items text-center">

    </ul>
</div>