
    <header class="header-area asdasd" id="arriba">
	<div class="header-top">
		<div class="container">
			<div class="header-top-wrapper d-flex flex-wrap justify-content-sm-between">
				<div class="header-top-left mt-3">
					<ul class="header-meta cccccc" >
						<li><a routerLink="inicio/home"><img class src="../../../assets/img/Logo_upeuheader.png" alt="UPeU"></a></li>
					</ul>
				</div>
				<div class="header-top-right mt-3">
					<div class="header-link">
						<a class="login" routerLink="/login/ingresar">Login</a>
						<a class="register" routerLink="/login/registro">Register</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</header>


<a data-scroll href="inicio/home#arriba" class="back-to-top"><i class="fal fa-chevron-up"></i></a>