<div class="col-lg-12 adasd">
    <div class="courses-bar">
        <div class="row">

            <div class="col-lg-7">
                <h2 class="title">Invitaciones</h2>
            </div>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">


        <div class="courses-bar">
            <div class="row">
                <div class="col-lg-5">
                    <div class="courses-tab">

                        <p>Showing 1 - 16 of 36 results</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="courses-bar-form">
                        <!-- 
                            <div class="courses-select">
                            <select id="selectbox1">
                                <option value="0">Newly published</option>
                                <option value="1">published 01</option>
                                <option value="2">published 02</option>
                                <option value="3">published 03</option>
                                <option value="4">published 04</option>
                                <option value="5">published 05</option>
                            </select>
                        </div>
                        -->
                        <div class="courses-search">
                            <input type="text" placeholder="Search courses">
                            <i class="far fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="courses-bar asddddd">
            <div class="row asdiospadd">
                <div class="col-lg-12 ">

                    <table class="table-fill">
                        <thead>
                            <tr>
                                <th class="text-left">Usuario</th>
                               
                                <th class="text-left">operaciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover" *ngFor="let item of task">
                            <tr>
                               
                                <td class="text-left">{{item.name}}&nbsp; {{item.lastname}}</td>
                                <td class="text-left">
                                    <a class="btn btn-dark" href=""><i class="fas fa-edit"></i></a>&nbsp;
                                    <a class="btn btn-dark" href=""><i class="fas fa-trash-alt"></i></a>&nbsp;
                                    <a class="btn btn-dark" href=""><i class="fas fa-envelope"></i></a>&nbsp;
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </div>













    </div>

    <ul class="pagination-items text-center">

    </ul>
</div>