<div class="col-lg-12 adasd">
  <div class="courses-bar">
    <div class="row">

      <div class="col-lg-7">
        <h2 class="title">Evaluaciones</h2>
      </div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">


    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne">
            I. FORMACIÓN ACADÉMICA PROFESIONAL
          </button>
          
        </h2>
        
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="row">
                        
              <div class="col col-lg-9">
              </div>
              <div class="col col-lg-3">
                <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight">Documento</button>
              </div>
             
            </div>
            


            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    1 &nbsp;&nbsp; GRADOS
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    
                    
                    
                    
                   
                    <form >
                      <div class="row asdasd">
                        

                        
                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.1    Posdoctorado (8 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>





                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.2    Grado de doctor en su especialidad y/o de
                            la unidad académica (6 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>




                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.3    Grado de doctor (6 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>


                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.4    Grado de maestro / magíster en su especialidad y/o de la unidad académica (incluye especialidad médica) (4 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>


                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.5    Grado de maestro / magister afín a la unidad académica (4 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>


                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.6    Grado de bachiller en su especialidad (2 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>


                        <div class="col col-lg-10">
                          <label for="exampleColorInput" class="form-label">1.7    Otro grado de bachiller (2 puntos c/año)</label>
                        </div>
                        <div class="col col-lg-2">
                          <input type="number" class="form-control form-control-color" id="exampleColorInput"
                        value="#563d7c" title="Choose your color">
                        </div>

                        <div class="single-form">
                          <button class="main-btn btn-block">Registrar</button>
                      </div>
                     
                      </div>
                    </form>





                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    2 &nbsp;&nbsp; TÍTULOS
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                    this being filled with some actual content.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    3 &nbsp;&nbsp; ESPECIALIZACIÓN / DIPLOMATURAS
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at least
                    at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>




              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    4 &nbsp;&nbsp; ESTUDIOS
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at least
                    at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>




              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    5 &nbsp;&nbsp; IDIOMAS EXTRANJEROS Y/O NATIVOS
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at least
                    at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>




            </div>






          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            II. EXPERIENCIA LABORAL Y PROFESIONAL </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
            plugin adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>





      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            III. CAPACIDAD DOCENTE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>




      
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            IV. DESEMPEÑO DOCENTE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>






      
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            IV. DESEMPEÑO DOCENTE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>





      
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            VI. INVESTIGACIÓN Y APORTE AL CONOCIMIENTO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>




      
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            VII.  VINCULACIÓN CON EL MEDIO (PROYECCIÓN SOCIAL Y EXTENSIÓN CULTURAL)
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>





      
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            VIII.  APORTES Y LOGROS          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>






    </div>



    

    <div class="offcanvas offcanvas-end japon" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <iframe
          src="http://docs.google.com/gview?url=http://www.educoas.org/portal/bdigital/contenido/valzacchi/ValzacchiCapitulo-2New.pdf&embedded=true"
          style="width:100%; height:100%;" frameborder="0"></iframe>
      </div>
    </div>














  </div>

  <ul class="pagination-items text-center">

  </ul>
</div>