<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(../../../assets/img/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title ">Registro</h2>
            </div>
        </div>
    </div>
</section>


<section class="login-register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title dfffff">Crear una nueva cuenta</h4>

                    <div class="login-register-form">
                        <form action="#">
                            <div class="single-form">
                                <label>Nombre completo *</label>
                                <input type="text">
                            </div>
                            <div class="single-form">
                                <label>Apellidos *</label>
                                <input type="text">
                            </div>
                            <div class="single-form">
                                <label>correo Electronico *</label>
                                <input type="email">
                            </div>
                            <div class="single-form">
                                <label>DNI *</label>
                                <input type="number">
                            </div>
                            <div class="single-form">
                                <label>Contraseña</label>
                                <input type="password">
                            </div>
                            <div class="single-form">
                                <label>Confirmar Contraseña</label>
                                <input type="password">
                            </div>
                            <div class="single-form">
                                <div class="checkbox">
                                  
                                </div>
                            </div>
                            <div class="single-form">
                                <button class="main-btn btn-block">Registrar</button>
                            </div>
                            
                            <div class="single-form">
                                <label>Ya tienes una cuenta?</label>
                                <a routerLink="/login/ingresar" class="main-btn main-btn-2 btn-block">Inicia Sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>