<div class="col-lg-12 adasd">
  <div class="courses-bar">
    <div class="row">

      <div class="col-lg-7">
        <h2 class="title">Legajos / Archivos</h2>
      </div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">


    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">

        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne">
            I. FORMACIÓN ACADÉMICA PROFESIONAL
          </button>

        </h2>

        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">

            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-9">

                  <form>
                    <div class="form-group">


                      <input class="form-control" type="file" id="formFile">
                    </div>
                  </form>
                </div>
                <div class="col col-lg-3">
                  <ul class="courses-fee flexz">
                    <li><a routerLink="/admin/archivos"><i class="fas fa-upload"></i></a></li>
                    <li><a routerLink="/admin/archivos"><i class="fas fa-edit"></i></a></li>
                    <li><a routerLink="/admin/archivos"><i class="fas fa-trash-alt"></i></a></li>


                  </ul>
                </div>

              </div>

            </div>




          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            II. EXPERIENCIA LABORAL Y PROFESIONAL </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
            plugin adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            III. CAPACIDAD DOCENTE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>






  </div>




  <ul class="pagination-items text-center">

  </ul>
</div>