<!--====== Slider Start ======-->
<!-- Hero -->

<section class="et-hero-tabs fondo " >
	<img width="170" height="170" src="../../../assets/img/logo_upeu_black.png" alt="">
	<h1>CATEGORIZACION DOCENTE</h1>
	<h3>Sistema de apoyo para la evaluacion del docente</h3>
	<div class="et-hero-tabs-container" id=styll>
		<a  class="et-hero-tab" href="inicio/home#ceremonia">Ceremonias</a>
		<a  class="et-hero-tab" href="inicio/home#plantillas">Plantillas</a>
		<a  class="et-hero-tab" href="inicio/home#eventos">Eventos</a>
		<a  class="et-hero-tab" href="inicio/home#reglamento">Reglamento</a>
		<a  class="et-hero-tab" href="inicio/home#contacto">contacto</a>
		<span class="et-hero-tab-slider"></span>
	</div>
</section>




<!-- Main -->
<main class="et-main">
	<!-- 
		<button (click)="getAllTasks()">getAllTasks()</button>
	<button (click)="getTask()">getTask()</button>
	<button (click)="createTask()">createTask()</button>
	<button (click)="updateTask()">updateTask()</button>
	<button (click)="deleteTask()">deleteTask()</button>
	-->
	<section class="features-area" id="ceremonia">
		<div class="container">
			<div class="features-wrapper">
				<div class="row justify-content-end">
					<div class="col-lg-8">
						<h2 class="features-title">Investigación, <span> Enseñansa <br> Producción </span>y Capacitación
						</h2>
						felicitó el esfuerzo realizado por los docentes unionistas y los instó a seguir preparándose
						bajo la misión de la universidad: ser Íntegro, ser Misionero y ser Innovador.
					</div>
				</div>
				<div class="row justify-content-end">
					<div class="col-lg-11">
						<div class="features-image">
							<img src="../../../assets/img/1.png" alt="">
						</div>
					</div>
				</div>
				<div class="features-mask">
					<div class="features-mask-image bg_cover"
						style="background-image: url(https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/features-bg.jpg);">
					</div>
					<div class="features-mask-content">
						<p>Ceremonia de categorizacion</p>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="top-courses-area" id="plantillas">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-title mt-40">
						<h2 class="title ">Estas son las plantillas <br> que necesitaras en la evaluacion</h2>
						<p>Even slightly believable. If you are going use a passage of Lorem Ipsum need</p>
					</div>
				</div>
			</div>
			<div class="courses-wrapper">
				<div class="row">
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.2s">
							<a href="#" class="category">#Science</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Computer
									Science & Engineering</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.4s">
							<a href="#" class="category">#Science</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Applied
									<br> Mathematics</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.6s">
							<a href="#" class="category">#Business</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Bachelor
									of Business Administration</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
							<a href="#" class="category">#Marketing</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Social
									& Digital <br> Marketing</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1s">
							<a href="#" class="category">#Business</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Bachelor
									of Business Administration</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1.2s">
							<a href="#" class="category">#Marketing</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Social
									& Digital <br> Marketing</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1.4s">
							<a href="#" class="category">#Science</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Applied
									<br> Mathematics</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 courses-col">
						<div class="single-courses mt-30 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1.6s">
							<a href="#" class="category">#Science</a>
							<h4 class="courses-title"><a
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Computer
									Science & Engineering</a></h4>
							<div class="duration-fee">
								<p class="duration">Duration: <span> 4 year</span></p>
								<p class="fee">Fee: <span> $540</span></p>
							</div>
							<div class="rating">
								<span>Rating: </span>
								<ul class="star">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
							<div class="courses-link">
								<a class="apply" href="#">Online Apply</a>
								<a class="more"
									href="https://live.hasthemes.com/html/13/edumate-preview/edumate/courses-details.html">Read
									more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="event-area" id="eventos">
		<div class="container">
			<div class="event-title-tab-menu">
				<div class="event-title mt-40">
					<h2 class="title">Eventos <br> Terminados</h2>
				</div>

				<div class="event-tab-menu mt-40">
					<ul class="nav">
						<li>
							<a class="active" data-toggle="tab" href="#courses">Courses</a>
						</li>
						<li>
							<a data-toggle="tab" href="#admission">Admission</a>
						</li>
						<li>
							<a data-toggle="tab" href="#training">Training</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content event-tab-items wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.2s">
				<div class="tab-pane fade show active" id="courses">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date coloram">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="admission">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="training">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-event text-center mt-30">
								<span class="time">10.35 am to 1.00 pm</span>
								<span class="date">25 May, 2020</span>
								<h4 class="event-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/event-details.html">Micro
										Biological Workshop</a></h4>
								<p class="place">Place: Central Hall, New York</p>
								<a href="#" class="more">Read more <i class="far fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</section>

	<section class="blog-area" id="reglamento">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-9">
					<div class="section-title-2 text-center">
						<h2 class="title">Reglamentos</h2>
						<span class="line"></span>
						<p>Even slightly believable. If you are going use a passage of Lorem Ipsum need some</p>
					</div>
				</div>
			</div>
			<div class="blog-wrapper">
				<div class="row blog-active">
					<div class="col-lg-4">
						<div class="single-blog mt-30">
							<div class="blog-image">
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">
									<img src="https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/blog-1.jpg"
										alt="blog">
								</a>
							</div>
							<div class="blog-content">
								<ul class="meta">
									<li><a href="#">25 May, 2020</a></li>
									<li><a href="#">By: Alex</a></li>
									<li><a href="#">12 Comments</a></li>
								</ul>
								<h4 class="blog-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">Latest
										Micro Biological basic Workshop for Research</a></h4>
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html"
									class="more">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-blog mt-30">
							<div class="blog-image">
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">
									<img src="https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/blog-2.jpg"
										alt="blog">
								</a>
							</div>
							<div class="blog-content">
								<ul class="meta">
									<li><a href="#">25 May, 2020</a></li>
									<li><a href="#">By: Alex</a></li>
									<li><a href="#">12 Comments</a></li>
								</ul>
								<h4 class="blog-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">Latest
										Micro Biological basic Workshop for Research</a></h4>
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html"
									class="more">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-blog mt-30">
							<div class="blog-image">
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">
									<img src="https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/blog-3.jpg"
										alt="blog">
								</a>
							</div>
							<div class="blog-content">
								<ul class="meta">
									<li><a href="#">25 May, 2020</a></li>
									<li><a href="#">By: Alex</a></li>
									<li><a href="#">12 Comments</a></li>
								</ul>
								<h4 class="blog-title"><a
										href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html">Latest
										Micro Biological basic Workshop for Research</a></h4>
								<a href="https://live.hasthemes.com/html/13/edumate-preview/edumate/blog-details.html"
									class="more">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="newsletter-area" id="contacto">
		<div class="container">
			<div class="newsletter-wrapper bg_cover wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s"
				style="background-image: url(https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/newsletter-bg-1.jpg);">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="section-title-2 mt-25">
							<h2 class="title">Contactanos</h2>
							<span class="line"></span>
							<p>Even slightly believable. If you are going use a passage of Lorem Ipsum need some</p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="single-contact-info mt-30">
							<div class="info-icon">
								<i class="fas fa-map-marker-alt"></i>
							</div>
							<div class="info-content">
								<h5 class="title">Address</h5>
								<p>297 Central Street, New Town North City, New York, USA</p>
							</div>
						</div>
						<div class="single-contact-info mt-30">
							<div class="info-icon">
								<i class="fas fa-phone"></i>
							</div>
							<div class="info-content">
								<h5 class="title">Phone</h5>
								<p><a href="tel:+62548254658">+62548 254 658</a></p>
								<p><a href="tel:+99875587478">+99875 587 478</a></p>
							</div>
						</div>
						<div class="single-contact-info mt-30">
							<div class="info-icon">
								<i class="far fa-globe"></i>
							</div>
							<div class="info-content">
								<h5 class="title">Web</h5>
								<p><a href="mailto://info@example.com">info@example.com</a></p>
								<p><a href="www.example.com">www.example.com</a></p>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>

</main>

<!--====== Slider Ends ======-->

<!--====== Features Start ======-->


<!--====== Features Ends ======-->

<!--====== Top Courses Start ======-->


<!--====== Top Courses Ends ======-->

<!--====== Specialty Start ======-->


<!--====== Specialty Ends ======-->

<!--====== Campus Visit Start ======-->


<!--====== Campus Visit Ends ======-->

<!--====== Event Start ======-->


<!--====== Event Ends ======-->

<!--====== Testimonials Start ======-->


<!--====== Testimonials Ends ======-->

<!--====== Counter Start ======-->


<!--====== Counter Ends ======-->

<!--====== Blog Start ======-->



<!--====== Blog Ends ======-->

<!--====== Newsletter Start ======-->



<!--====== Newsletter Ends ======-->

<!--====== Footer Start ======-->

<section class="footer-area bg_cover"
	style="background-image: url(https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/counter-bg.jpg);">
	<div class="footer-widget">
		<div class="container letra">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-link mt-45">
						<h4 class="footer-title">UBICACIÓN CAMPUS PRINCIPAL</h4>
						<ul class="link-list">

							<li><a><i class="fas fa-chevron-circle-right"></i> Una institución de educación superior de
									la Iglesia Adventista del Séptimo Día</a>
							</li>
							<hr>
							<li><a> <i class="fas fa-chevron-circle-right"></i> Km 19 Carretera Central, Ñaña,
									Lurigancho, Lima 15, Perú</a></li>
							<li><a href="https://www.google.com.pe/maps/place/Universidad+Peruana+Uni%C3%B3n/@-11.9890817,-76.8418507,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c263780eec3f:0x3b4ca3412462ae28!8m2!3d-11.9879869!4d-76.8388959"
									target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i>&nbsp;<i
										class="fas fa-map-marker-alt"></i> Cómo llegar</a></li>
							<li><a href="">Sguenos:</a>
								<div class="footer-widget-wrapper">
									<div class="footer-social">
										<ul class="social">
											<li><a href="https://www.facebook.com/UPeUOficial/"><i
														class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/UPeUOficial"><i
														class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/upeuoficial/"><i
														class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.youtube.com/user/UPeruanaUnion"><i
														class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-link mt-45">
						<h4 class="footer-title">NUESTROS SERVICIOS</h4>
						<ul class="link-list">
							<li><a href="https://postulantes.upeu.edu.pe/tussuenosnosedetienen/"><i class="fas fa-user">
									</i> POSTULA AQUÍ</a></li>
							<li><a href="http://internacionales.upeu.edu.pe/"><i class="far fa-globe"> </i> UPeU
									Internacionales</a></li>
							<li><a href="http://radio.upeu.edu.pe/"><i class="fas fa-headphones"> </i> Radio Peruana
									Unión</a> </li>
							<li><a href="https://crai.upeu.edu.pe"><i class="fas fa-database"> </i> CRAI UPeU</a></li>
							<li><a href="http://upeu.sdp.sirsidynix.net/client/lima"><i class="fas fa-list"> </i> CRAI
									EBSCO UPeU</a></li>
							<li><a href="http://efac.upeu.edu.pe/#/"><i class="fas fa-file-invoice-dollar"> </i>
									Comprobantes Electrónicos</a></li>
							<li><a href="https://www.upeu.edu.pe/proteccion-datos-derechos-arco"><i
										class="fas fa-user-shield"> </i> Protección de datos - Derechos ARCO</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-link mt-45">
						<h4 class="footer-title">CONTACTO</h4>
						<ul class="link-list">
							<li><a> <i class="fas fa-chevron-circle-right"></i> Campus Lima : +51 1-6186300</a></li>
							<li><a><i class="fas fa-chevron-circle-right"></i> Campus Juliaca: +51 1-6186302</a></li>
							<li><a> <i class="fas fa-chevron-circle-right"></i> Campus Tarapoto: +51 1-6186303</a></li>
							<li><a><i class="fas fa-chevron-circle-right"></i> Correo Admisión: informes@upeu.edu.pe</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-link mt-45">
						<h4 class="footer-title">LICENCIAMIENTO Y ACREDITACIÓN</h4>
						<ul class="link-list">
							<li>
								<img src="../../../assets/img/AAA_logo_blanco-sunedu-2018.png" alt="">
							</li>
							<li class="rightaa">
								<img src="../../../assets/img/AAA_logo_blanco_Sineace.png" alt="">
							</li>
							<li>
								<img src="../../../assets/img/AAA_logo_blanco.png" alt="">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="copyright text-center">
				<p>Copyright &copy; UPeU 2021. Todos los derechos son reservados — Implementado by: GROoT</p>
			</div>
		</div>
	</div>
</section>

<!--====== Footer Ends ======-->

<!--====== BACK TOP TOP PART START ======-->

