<!--====== Page Banner Start
     <section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(https://live.hasthemes.com/html/13/edumate-preview/edumate/assets/images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">Our Courses Left Sidebar</h2>
            </div>
        </div>
    </div>
</section>
======-->


<section class="top-courses-area">
    <div class="container ffdasss">
        <div class="row flex-row-reverse">


            <div class="col-lg-9 routiniendao">

                <router-outlet></router-outlet>

            </div>



           
            <div class="col-lg-3">


                <app-nav></app-nav>

            </div>

            
        </div>
        
    </div>

    
</section>

<app-footer></app-footer>