<!--====== Page Banner Start ======-->

<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(../../../assets/img/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title ">Inicia Sesion</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->

<!--====== Login Start ======-->

<section class="login-register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title dfffff">Ingresa con tu cuenta</h4>

                    <div class="login-register-form">
                        <form (ngSubmit)="entrar()">
                            <div class="single-form">
                                <label>Correo Electronico *</label>
                                <input type="email" name="email" id="email" [(ngModel)]="email">
                            </div>
                            <div class="single-form">
                                <label>Contraseña</label>
                                <input type="password"  name="password" id="password" [(ngModel)]="password">
                            </div>
                            <div class="alert" *ngIf="email">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    Datos incorrectos!!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            </div>
                           
                            <div class="single-form">
                                <button class="main-btn btn-block">Iniciar Sesion</button>
                            </div>
                            <div class="single-form d-flex justify-content-between">
                                <div class="checkbox">
                                    <input type="checkbox" id="remember">
                                    <label for="remember"><span></span> Recuerdame</label>
                                </div>
                                <div class="forget">
                                    <a href="#">Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                            <div class="single-form">
                                <label>No tienes una cuenta?</label>
                                <a routerLink="/login/registro" class="main-btn main-btn-2 btn-block asdasd">Crea una cuenta ahora</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

<!--====== Login Ends ======-->
